<div>
  <p>
   Voici la liste de users rendue dans une table
  </p>
  <table>
    <thead>
      <th>Nom</th>
      <th>Age</th>
      <th>Sex</th>
    </thead>
    <tbody>
      <tr>
        <td>Charly</td>
        <td>28</td>
        <td>Male</td>
      </tr>
      <tr>
        <td>Amélie</td>
        <td>22</td>
        <td>Female</td>
      </tr>
      <tr>
        <td>Arthur</td>
        <td>45</td>
        <td>Male</td>
      </tr>
      <tr>
        <td>Annie</td>
        <td>68</td>
        <td>Female</td>
      </tr>
    </tbody>
  </table>
</div>
