<div class="users-view-container">
  <p class="users-view-description">
    Voici la liste de users rendue dans une table
  </p>
  <form>
    <input class="user-name-input" type="text" placeholder="Saisir un nom pour filtrer" ng-model="name" name="uName">
    <input class="user-name-submit" type="submit" ng-click="$ctrl.getData(name)">
  </form>

  <div class="table-container">
    <table class="usrtable">
      <thead class="usrtable-head">
        <th class="usrtable-head-cell">Nom</th>
        <th class="usrtable-head-cell">Age</th>
        <th class="usrtable-head-cell">Sexe</th>
      </thead>
      <tbody class="usrtable-body">
        <tr class="usrtable-row" ng-repeat="user in $ctrl.usersList | orderBy: 'age' | filter: search">
          <td class="usrtable-cell"><a href="/#!/users/{{user.name}}">{{user.name}}</a></td>
          <td class="usrtable-cell">
            <span ng-class="{'green': user.age >= 25, 'red': user.age < 25}">{{user.age}}</span>
          </td>
          <td class="usrtable-cell">
            <span ng-class="{'blue': user.sex == 
            'h', 'pink': user.sex == 'f'}">{{user.sex}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>